<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swipesAndShakes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28FFEFD81C3472AA0068BB39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28FFEFEC1C3472AA0068BB39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28FFEFF71C3472AA0068BB39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
